name: Generate animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: generate-snake-svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: dancarvofc
          outputs: |
            dist/my-pacman.svg?palette=github-dark&color_snake=#FF8C00&color_dots=#161b22,#ffbd8e,#ff9a4d,#ff7a1a,#e65c00

      - name: push to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
