name: Generate pacman animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: generate pacman-contribution-graph.svg
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: dancarvofc

      - name: Prepare dist
        run: |
          mkdir -p dist
          # Este comando procura qualquer SVG gerado e o renomeia corretamente na pasta dist
          find . -maxdepth 1 -name "*.svg" -exec cp {} dist/pacman-contribution-graph.svg \;
          # Lista para conferirmos no log se o arquivo apareceu
          ls -R dist/

      - name: push to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
