name: Generate pacman animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: generate pacman-contribution-graph.svg
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: dancarvofc
          # Definindo as cores para tons de laranja/âmbar
          # Formato: pacman, dots, background
          config_pacman_color: "#FF8C00" 
          config_dot_color: "#FFBF00"

      - name: Ensure dist directory and move file
        run: |
          mkdir -p dist
          # Tenta encontrar o arquivo pacman, não importa o nome que a action gerou
          mv *.svg dist/pacman-contribution-graph.svg || echo "Arquivo não encontrado"

      - name: push to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
